@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: overline;
    font-size: 80px;
    text-align: center;
    font-family: "Space Grotesk";
}

#heading-parent {
    /* Section Designing */
    background-image: linear-gradient(180deg,#000000,transparent),url(../assets/burger.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    padding: 100px 0;
    max-width: 1100px;
    /* tumi jodi 1100px er beshi width pao tahole tai nao, ar jodi 1100px er beshi width nah pao tahole 100% nao. */
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin: 40px auto;
    clip-path: polygon(0 0, 100% 1%, 92% 93%, 0% 100%);

}
.btn{
    background-color: rgb(199, 14, 206);
    padding: 8px 15px;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: yellow;
    border-radius: 6px;
    font-size: 24px;
    font-family: "Gamja Flower","sans-serif";
    /* btn is a special element that can use width and height and if span is added which is a inline element it will not take width and height because it becomes an inline element. inline element cannot use height, width, margin and padding */

    
}
.btn-parent{
    text-align: center;
    margin: 20px 0;
}
.btn:hover{
    background-color: lime;
    cursor: pointer;
}